Repository voxpupuli/puppet-opensearch, pull requests merged in 2023-08, with the labels that each got.

#37 Fix installation from archive
  manifests/install/archive.pp
  manifests/service.pp
  spec/acceptance/default_spec.rb
  spec/shared_examples/install_archive.rb
  spec/shared_examples/service.rb
  templates/opensearch.service.epp
Labels: bug

#35 Add support for managing more configuration files
  .github/update-data-common
  .github/workflows/update-data-common.yml
  REFERENCE.md
  data/common.yaml
  examples/opensearch_security.pp
  manifests/config.pp
  manifests/init.pp
Labels: enhancement

#38 Release 1.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#39 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync
