Repository voxpupuli/puppet-opensearch, pull requests merged in 2024-02, with the labels that each got.

#48 (#28) - add missing parts former commit
  REFERENCE.md
  data/common.yaml
  manifests/init.pp
  spec/helper/get_defaults.rb
  spec/shared_examples/config.rb
Labels: skip-changelog

#49 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#50 puppetlabs/systemd: Allow 6.x
  metadata.json
Labels: enhancement
